<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.googleTitleTest()[pri:1, instance:com.qa.tests.TestNGBasics@7ce6a65d]">googleTitleTest</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:28</td>   <td>6812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.googleTitleTest()[pri:1, instance:com.qa.tests.TestNGBasics@7ce6a65d]">googleTitleTest</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:35</td>   <td>13304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.googleTitleTest()[pri:1, instance:com.qa.tests.TestNGBasics@7ce6a65d]">googleTitleTest</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:14:52</td>   <td>-29208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">mailLinkTest</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:01</td>   <td>-20672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">mailLinkTest</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:07</td>   <td>-13916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">mailLinkTest</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:14</td>   <td>-6918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">mailLinkTest</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:14:44</td>   <td>-37172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:14:54</td>   <td>-27762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:02</td>   <td>-19775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:08</td>   <td>-12808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:15</td>   <td>-6104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:22</td>   <td>757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:29</td>   <td>7658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:14:52</td>   <td>-29068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:01</td>   <td>-20600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:07</td>   <td>-13801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:14</td>   <td>-6852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:21</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:28</td>   <td>6840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:15:35</td>   <td>13323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@7ce6a65d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
</table>
