<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Page</td><td>TestNGBasics1.googlePageTest()[pri:2, instance:com.qa.tests.TestNGBasics1@59906517]<br/></td></tr>
<tr><td>Search</td><td>TestNGBasics1.googleSearchTest()[pri:1, instance:com.qa.tests.TestNGBasics1@59906517]<br/></td></tr>
<tr><td>Simple</td><td>TestNGBasics1.simpleTest3()[pri:3, instance:com.qa.tests.TestNGBasics1@59906517]<br/>TestNGBasics1.simpleTest1()[pri:3, instance:com.qa.tests.TestNGBasics1@59906517]<br/>TestNGBasics1.simpleTest2()[pri:3, instance:com.qa.tests.TestNGBasics1@59906517]<br/></td></tr>
<tr><td>Title</td><td>TestNGBasics1.googleTitleTest()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]<br/></td></tr>
</table>
