<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG session Test Automation suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:27</td>   <td>0</td> <td title="&gt;&gt;TestNGBasics1.setUp()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:28</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGBasics1.launchBrowser()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:28</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:36</td>   <td>8044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:36</td>   <td>8158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:37</td>   <td>9348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:42</td>   <td>14862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:42</td>   <td>14958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:43</td>   <td>15946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:50</td>   <td>22113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:50</td>   <td>22227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:51</td>   <td>23669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:57</td>   <td>29293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:57</td>   <td>29390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:58</td>   <td>30798</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics1.login()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:58</td>   <td>30799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics1.enterUrl()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;enterUrl</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:35:04</td>   <td>36552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics1.googleTitleTest()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">googleTitleTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:35:04</td>   <td>36558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics1.logOut()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/03/16 13:35:05</td>   <td>37842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics2.setUp()[pri:0, instance:com.qa.tests.TestNGBasics2@25af5db5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/03/16 13:35:11</td>   <td>43337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics2.loginTest()[pri:0, instance:com.qa.tests.TestNGBasics2@25af5db5]">loginTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/03/16 13:35:11</td>   <td>43343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics2.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics2@25af5db5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:13</td>   <td>45002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.infiniteLoopTest()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">infiniteLoopTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>47015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>47036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>47047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>47057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>47068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.test1()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">test1</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:35:15</td>   <td>47074</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGBasics1.closeBrowser()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
</table>
