<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG session Test Automation suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:35:15</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGBasics1.closeBrowser()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:58</td>   <td>-16275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics1.enterUrl()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;enterUrl</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:35:04</td>   <td>-10522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics1.googleTitleTest()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">googleTitleTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:13</td>   <td>-2072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.infiniteLoopTest()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">infiniteLoopTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:28</td>   <td>-47059</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGBasics1.launchBrowser()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:35:04</td>   <td>-10516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics1.logOut()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:58</td>   <td>-16276</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics1.login()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/03/16 13:35:11</td>   <td>-3737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics2.loginTest()[pri:0, instance:com.qa.tests.TestNGBasics2@25af5db5]">loginTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:36</td>   <td>-39030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:42</td>   <td>-32212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:50</td>   <td>-24961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:57</td>   <td>-17781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.mailLinkTest()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">mailLinkTest</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>20/03/16 13:34:27</td>   <td>-47074</td> <td title="&gt;&gt;TestNGBasics1.setUp()[pri:0, instance:com.qa.tests.TestNGBasics1@59906517]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:28</td>   <td>-47032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:37</td>   <td>-37726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:43</td>   <td>-31128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:51</td>   <td>-23405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.setUp()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/03/16 13:35:05</td>   <td>-9232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics2.setUp()[pri:0, instance:com.qa.tests.TestNGBasics2@25af5db5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>-38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.sum()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">sum</td> 
  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:36</td>   <td>-38916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:42</td>   <td>-32116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:50</td>   <td>-24847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="7dc364">  <td>20/03/16 13:34:57</td>   <td>-17684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics@5bfbf16f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/03/16 13:35:11</td>   <td>-3731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics2.tearDown()[pri:0, instance:com.qa.tests.TestNGBasics2@25af5db5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1946403944</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/16 13:35:15</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics3.test1()[pri:0, instance:com.qa.tests.TestNGBasics3@12cdcf4]">test1</td> 
  <td>main@1946403944</td>   <td></td> </tr>
</table>
